span {
    float:left;
    color:green;
    margin-left:20px;
}
.menu {
  list-style-type: none;
}

.menu a{
  text-decoration: none;
  outline: none;
  color:white;
}
.menu li {
   display:inline;
   margin-left: 10px;
}
header {
    background-color: black;
    padding: 20px;
    font-size: 30px;
}

body {
    margin:0;
}


nav {
    background-color: black;
    color:black;
    width: 960px;
    margin: auto;
    text-decoration: none;
    outline: none;
}

.grey-bg {
    background-color: #f7f7f7;}

.text-muted{
    color: #777777;
}
section{
    color:#777777;
}
h3{
    color:black;
    font-weight:18px; }

.trombi img{
  display: block;
}

.trombi{
  list-style-type: none;
  }

.trombi li{
  text-align: center;
  float: left;
  margin: 5px;
  height:200px;
  width: 150px;
}
.largeur{
  width: 960px;
  margin: auto;
}

.center{
  width:960px;
  margin-left: 150px;
  min-height: 215px;
  padding-top:1em;
  padding-bottom:1em;

}

.texte, .image{
  float:left;
  text-align: center;
  width:50%;
}

.left{
  float:left;
  text-align: center;
  width:50%;
}

.right{
  float:left;
  width:50%;
  text-align: center;
}

.colorRed{
  border: 2px red solid;

.colorGreen{
  border: 2px green solid;
}
}

.zoomImage{
  zoom:150%;
  -moz-transform: scale(2);
}
form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 400px;
    /* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.button {
    /* Pour positionner les boutons de la même manière que les champs textuels */
    padding-left: 90px; /* même dimension que les étiquettes */
}
form div + div {
    margin-top: 1em;
}

textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
    height: 5em;
    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
    }

h1 {
    text-align: center
    }
#photo {
  display:block;
  width:150px;
  height:200px;

}
